<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="javascripts/Logar/Login.js" type = "module"></script>
  <link rel="stylesheet" href="stylesheets/Login/Login.css">
  <title>Login</title>
</head>
<body>
  <div class="main-login">
    <div class="left-login">
      <h1>Faça login<br>E entre para o nosso time</h1>
      <img src="images/person-working.svg" class="left-login-image" alt="Pessoa trabalhando">
    </div>
    <div class="right-login">
      <div class="card-login">
        <h1>LOGIN</h1>
        <div class="textfield">
          <label for="usuario">Usuário</label>
          <input type="text" name="usuario" id = "login-email" placeholder="Usuário">
        </div>
        <div class="textfield">
          <label for="password">Senha</label>
          <input type="password" name="password" id = "login-password" placeholder="Senha">
        </div>
        <button class="btn-login" onclick="login()">Login</button>
      </div>
    </div>
  </div>
  
  <a href="https://wa.me/5575982060679?text=Olá!%20Gostaria%20de%20mais%20informações%20sobre%20o%20sistema." target="_blank" class="whatsapp-button">
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
</a>

  <script src ="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>