<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Logo/Logo2.jpg" type="image/x-icon">
    <title>Visualizar Clientes</title>

    <!-- Link para Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/Drawer/RelacaoCliente/VisualizarCliente.css">

</head>

<body>
    <header>
        <button class="fas fa-arrow-left" id="seta" onclick="window.location.replace('/inicio') "></button> Visualizar Cliente
    </header>
    <div class="caixa">
        <h2>Lista de Clientes</h2>
        <button type="button" class="botao" onclick="window.location.href = '/CriarCli'">Criar Cliente</button>
        <hr>
        <div id="carregando" class="loading">
            <i class="fas fa-spinner fa-spin"></i> Carregando clientes...
        </div>
        <table id="tabela-clientes" style="display: none;">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Data de Criação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- Os dados dos clientes serão inseridos dinamicamente aqui -->
            </tbody>
        </table>
    </div>

    <!-- Modal de Edição -->
    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="document.getElementById('edit-modal').style.display = 'none';">&times;</span>
            <h2>Editar Cliente</h2>
            <form id="edit-form">
                <label for="edit-name">Nome:</label>
                <input type="text" id="edit-name" required>

                <label for="edit-telefone">Telefone:</label>
                <input type="text" id="edit-telefone" required>

                <label for="edit-email">Email:</label>
                <input type="email" id="edit-email" >

                <label for="edit-endereco">Endereço:</label>
                <input type="text" id="edit-endereco">

                <button type="submit">Salvar Alterações</button>
            </form>
        </div>
    </div>

   
    <script src="/javascripts/Drawer/RelacaoCliente/VisualizarCliente.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>



</html>
