<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Logo/Logo2.jpg" type="image/x-icon">
    <title>Gerar PDF</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <link rel ="stylesheet" href="/stylesheets/Drawer/SistemaTempera/Tempera.css">  
</head>
<body>
    <header>
        <i class="fa-solid fa-arrow-left" onclick="window.history.back()"></i>
        <p>Sistema de tempera</p>
        <i></i>
    </header>
    <form id="detailsForm">
        <label for="width">Largura (cm):</label>
        <input type="number" id="width" name="width" required>

        <label for="height">Altura (cm):</label>
        <input type="number" id="height" name="height" required>

        <label for="Quantidade">Quantidade</label>
        <input type="number" id="Quantidade" name="Quantidade" required>

        <label for="glassColor">Cor do Vidro:</label>
        <select id="glassColor" name="glassColor" required>
            <option value="Incolor">Incolor</option>
            <option value="Fumê">Fumê</option>
            <option value="Verde">Verde</option>
            <option value="Pontilhado">Pontilhado</option>
            <option value="Bronze">Bronze</option>
        </select>

        <label for="glassThickness">Espessura do Vidro:</label>
        <select id="glassThickness" name="glassThickness" required>
            <option value="6mm">6mm</option>
            <option value="8mm">8mm</option>
            <option value="10mm">10mm</option>
        </select>

        <button type="button" onclick="openImageModal()">Escolher Imagem</button>
        <button type="button" onclick="saveItemData()">Adicionar Item</button>
        <button type="button" onclick="generateFinalPDF()">Gerar PDF Final</button>
    </form>

    <div id="imageModal">
        <div>
            <h2>Selecione uma Imagem</h2>
            <div id="tabContainer">
                <button class="tabButton" onclick="showTab('PortasImagens')">Porta</button>
                <button class="tabButton" onclick="showTab('JanelasImagens')">Janela</button>
                <button class="tabButton" onclick="showTab('BoxImagens')">Box</button>
                <button class="tabButton" onclick="showTab('OutrosImagens')">Outros</button>
            </div>
            <div id="tabContent">
                <ul id="PortasImagens" class="tab">
                    <li><img src="images/SistemaTempera/Portas/Portas (1).png" alt="Porta 1"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (1).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (2).png" alt="Porta 2"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (2).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (3).png" alt="Porta 3"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (3).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (4).png" alt="Porta 4"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (4).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (5).png" alt="Porta 5"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (5).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (6).png" alt="Porta 6"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (6).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (7).png" alt="Porta 7"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (7).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (8).png" alt="Porta 8"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (8).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (9).png" alt="Porta 9"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (9).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (10).png" alt="Porta 10"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (10).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (11).png" alt="Porta 11"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (11).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (12).png" alt="Porta 12"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (12).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (13).png" alt="Porta 13"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (13).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (14).png" alt="Porta 14"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (14).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (15).png" alt="Porta 15"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (15).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (16).png" alt="Porta 16"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (16).png')"></li>
                    <li><img src="images/SistemaTempera/Portas/Portas (17).png" alt="Porta 17"
                            onclick="selectImage('images/SistemaTempera/Portas/Portas (17).png')"></li>
                </ul>
                <ul id="JanelasImagens" class="tab">
                    <li><img src="images/SistemaTempera/Janelas/Janelas (1).png" alt="Janela 1"
                            onclick="selectImage('images/SistemaTempera/Janelas/Janelas (1).png')"></li>
                    <li><img src="images/SistemaTempera/Janelas/Janelas (2).png" alt="Janela 2"
                            onclick="selectImage('images/SistemaTempera/Janelas/Janelas (2).png')"></li>
                    <li><img src="images/SistemaTempera/Janelas/Janelas (3).png" alt="Janela 3"
                            onclick="selectImage('images/SistemaTempera/Janelas/Janelas (3).png')"></li>
                    <li><img src="images/SistemaTempera/Janelas/Janelas (4).png" alt="Janela 4"
                            onclick="selectImage('images/SistemaTempera/Janelas/Janelas (4).png')"></li>
                    <li><img src="images/SistemaTempera/Janelas/Janelas (5).png" alt="Janela 5"
                            onclick="selectImage('images/SistemaTempera/Janelas/Janelas (5).png')"></li>
                </ul>
                <ul id="BoxImagens" class="tab">
                    <li><img src="images/SistemaTempera/Box´s/Box (1).png" alt="Janela 1"
                            onclick="selectImage('images/SistemaTempera/Box´s/Box (1).png')"></li>
                    <li><img src="images/SistemaTempera/Box´s/Box (2).png" alt="Janela 2"
                            onclick="selectImage('images/SistemaTempera/Box´s/Box (2).png')"></li>
                    <li><img src="images/SistemaTempera/Box´s/Box (3).png" alt="Janela 3"
                            onclick="selectImage('images/SistemaTempera/Box´s/Box (3).png')"></li>
                    <li><img src="images/SistemaTempera/Box´s/Box (4).png" alt="Janela 4"
                            onclick="selectImage('images/SistemaTempera/Box´s/Box (4).png')"></li>
                    <li><img src="images/SistemaTempera/Box´s/Box (5).png" alt="Janela 5"
                            onclick="selectImage('images/SistemaTempera/Box´s/Box (5).png')"></li>
                    <li><img src="images/SistemaTempera/Box´s/Box (6).png" alt="Janela 6"
                            onclick="selectImage('images/SistemaTempera/Box´s/Box (6).png')"></li>
                </ul>
                <ul id="OutrosImagens" class="tab">
                    <li><img src="images/SistemaTempera/Outros/Outros (1).png" alt="Janela 1"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (1).png')"></li>
                    <li><img src="images/SistemaTempera/Outros/Outros (2).png" alt="Janela 2"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (2).png')"></li>
                    <li><img src="images/SistemaTempera/Outros/Outros (3).png" alt="Janela 3"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (3).png')"></li>
                    <li><img src="images/SistemaTempera/Outros/Outros (4).png" alt="Janela 4"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (4).png')"></li>
                    <li><img src="images/SistemaTempera/Outros/Outros (5).png" alt="Janela 5"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (5).png')"></li>
                    <li><img src="images/SistemaTempera/Outros/Outros (6).png" alt="Janela 6"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (6).png')"></li>
                    <li><img src="images/SistemaTempera/Outros/Outros (7).png" alt="Janela 7"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (7).png')"></li>
                    <li><img src="images/SistemaTempera/Outros/Outros (8).png" alt="Janela 8"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (8).png')"></li>
                    <li><img src="images/SistemaTempera/Outros/Outros (9).png" alt="Janela 9"
                            onclick="selectImage('images/SistemaTempera/Outros/Outros (9).png')"></li>
                </ul>
            </div>
            <button onclick="closeImageModal()">Fechar</button>
        </div>
    </div>

    <div id="previewSection">
        <h2>Itens Adicionados:</h2>
        <ul id="itemPreviewList"></ul>
    </div>

    <script src ="javascripts/Drawer/SistemaTempera/Tempera.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>