<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/Logo/Logo2.jpg" type="image/x-icon">
  <title>Lista de Orçamentos</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="stylesheets/Drawer/Pedidos/Pedidos.css">
</head>

<body>
  <div id="app">
    <header>
      <button onclick="window.history.back()">Voltar</button>
      <h1>Lista de Orçamentos</h1>
      <input type="text" id="search" placeholder="Pesquisar Cliente">
    </header>
    <main>
      <ul id="budget-list"></ul>
    </main>
  </div>

  <script type="module" src="/javascripts/Drawer/Pedidos/Pedidos.js"></script>
</body>

</html>
