<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Logo/Logo2.jpg" type="image/x-icon">
    <title>Converter para PDF</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/Drawer/Orcamentos/swal.css">
    <link rel="stylesheet" href="stylesheets/Drawer/Orcamentos/ComMedida.css">
</head>
<body>
    <header>
        <i class="fa-solid fa-arrow-left" onclick = "window.history.back()"></i>
        <p>Converter para PDF</p>
        <i class="fa-solid fa-file-pdf" id="btn-converter"></i>
    </header>
    <main>
        <h1>Converter para PDF</h1>
        <form id="form">
            <div class="form-group">
                <label for="clientes">Selecione o cliente</label>
                <select name="clientes" id="clientes">
                    
                </select>
            </div>
            <div class="form-group">
                <label for="descricao-servico">Descreva o serviço</label>
                <input type="text" name="descricao-servico" id="descricao-servico" required>
            </div>
            <div class="form-group">
                <label for="altura">Altura</label>
                <input type="number" name="altura" id="altura" required min="0">
            </div>
            <div class="form-group">
                <label for="largura">Largura</label>
                <input type="number" name="largura" id="largura" required min="0">
            </div>
            <div class="form-group">
                <label for="metro">Valor do Metro</label>
                <div class="input-icon">
                    <input type="number" name="metro" id="metro" required min="0">
                    <button id="btn-tipos" type="button"><i class="fa-solid fa-list"></i></button>
                </div>
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input type="number" name="quantidade" id="quantidade" required min="1">
            </div>
            <div class="form-group">
                <label for="cor-ferragem">Cor da Ferragem</label>
                <input type="text" name="cor-ferragem" id="cor-ferragem">
            </div>
            <div class="form-group">
                <label for="cor-pintura">Cor do Vidro</label>
                <input type="text" name="cor-vidro" id="cor-vidro">
            </div>
            <div class="form-group">
                <label for="total">Total</label>
                <div class="input-icon">
                    <input type="number" name="total" id="total">
                    <button id="btn-total" type="button"><i class="fa-solid fa-calculator"></i></button>
                </div>
            </div>
            <div class="form-group">
                <label for="btn-modelos">Modelos</label>
                <button id="btn-modelos" type="button">Escolher Modelo</button>
            </div>
        </form>
        <section class="produtos-escolhidos">
            <h2>Produtos Escolhidos</h2>
            <ul id="produtos-escolhidos">
                
            </ul>
        </section>
        <button id="btn-salvar">Salvar Serviço</button>
    </main>
    <footer>

    </footer>
    <script src="javascripts/Drawer/Orcamentos/SemPorcentagem.js" type="module"></script>
</body>
</html>