<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/Logo/Logo2.jpg" type="image/x-icon">
    <title>Cadastro de Empresa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/Drawer/Cabecalho/Cabecalho.css">
</head>

<body>

    <header>
        <button class="fas fa-arrow-left" id="seta" onclick="window.history.back()"></button>Cabeçalho
    </header>
    <div class="container">
        <h2>Cadastrar Empresa</h2>

        <!-- Formulário dentro de um container rolável -->
        <div class="form-container">
            <form id="company-form">
                <div class="input-group">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" placeholder="Nome da empresa" required>
                </div>
                <div class="input-group">
                    <label for="cnpj">CNPJ:</label>
                    <input type="text" id="cnpj" placeholder="Digite o CNPJ da empresa" required>
                </div>
                <div class="input-group">
                    <label for="endereco">Endereço:</label>
                    <input type="text" id="endereco" placeholder="Digite o endereço da empresa" required>
                </div>
                <div class="input-group">
                    <label for="telefone">Telefone:</label>
                    <input type="text" id="telefone" placeholder="Digite o telefone da empresa" required>
                </div>
                <div class="input-group">
                    <label for="razao-social">Razão Social:</label>
                    <input type="text" id="razao-social" placeholder="Digite a razão social da empresa" required>
                </div>
                <div class="input-group">
                    <label for="instagram">Instagram:</label>
                    <input type="text" id="instagram" placeholder="Digite o Instagram da empresa" required>
                </div>
                <div class="input-group">
                    <label for="logo">Escolher logo:</label>
                    <input type="file" id="logo" accept="image/*" required>
                </div>

                <button type="button" id="botao">Cadastrar Empresa</button>
            </form>
        </div>

        <div class="company-info">
            <h3>Informações da Empresa</h3>
            <p id="empresa-nome">Nome: Não disponível</p>
            <p id="empresa-cnpj">CNPJ: Não disponível</p>
            <p id="empresa-endereco">Endereço: Não disponível</p>
            <p id="empresa-telefone">Telefone: Não disponível</p>
            <p id="empresa-razao-social">Razão Social: Não disponível</p>
            <p id="empresa-instagram">Instagram: Não disponível</p>
            <div class="logo-container">
                <img id="logo-preview" class="logo-preview" src="" alt="Logo da Empresa">
            </div>
        </div>
    </div>

    <script src=" javascripts/Drawer/Cabecalho/Cabecalho.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-masker/build/vanilla-masker.min.js"></script>
    <script src = "javascripts/Mascaras/Mascaras.js"></script>
</body>

</html>