
       /* Estilo para o modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1; /* Fica acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escurecido */
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto; /* Menor margem superior */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%; /* Máxima largura do modal */
    width: 600px; /* Largura fixa até certo ponto */
    box-sizing: border-box; /* Para não ultrapassar a largura máxima */
    overflow-x: hidden; /* Impede rolagem horizontal */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; /* Ajuste automático de altura */
}

/* Garantir que o modal seja responsivo */
@media (max-width: 768px) {
    .modal-content {
        width: 80%; /* Largura do modal em dispositivos móveis */
        padding: 15px; /* Menos padding para telas pequenas */
        margin: 20% auto; /* Ajuste no posicionamento */
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: 90%; /* Largura ainda maior em telas menores */
        margin: 25% auto; /* Ajuste maior de margem */
    }
}

/* Fechar botão */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para os botões e modal em tons de verde */
.modal-content h2 {
    color: #3b9d3a;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3b9d3a;
    color: white;
}

button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   /* margin-top: 10px; */
}

button:hover {
    background-color: #45a049; /* Verde mais escuro */
}

/* Estilização para os botões de ação */
.decrease-btn {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    text-align: center;
    border: none;
    background-color: #f39c12; /* Laranja para diferenciar o botão de consumo */
    color: white;
    cursor: pointer;
}

.decrease-btn:hover {
    background-color: #e67e22; /* Tom mais escuro quando passar o mouse */
}

.total {
    font-size: 16px;
    margin-top: 20px;
    color: #3b9d3a;
    font-weight: bold;
}

@media (max-width: 480px) {
    .decrease-btn {
        font-size: 12px; /* Ajuste no tamanho da fonte */
        padding: 10px; /* Menor padding */
    }

    .modal-content {
        padding: 10px; /* Menos padding em telas pequenas */
    }
}

   